{% extends 'accounts/base.html' %}
<html>
<head>
    <title> Dashboard</title>
</head>
{% block content %}
    {% include 'accounts/status.html' %}
    <div class="jumbotron">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center text-white bg-warning">
                    <h2>Customers</h2>
                </div>
                <div class="card-body bg-dark">
                    <table class="table table-bordered text-center">
                        <thead class="bg-success text-white">
                        <tr>
                            <th>Customer Name</th>
                            <th>Mobile</th>
                            <th>Profile</th>
                        </tr>
                        </thead>
                        <tbody class="text-white">
                        {% if customers %}
                            {% for i in customers %}
                            <tr>
                            <td>{{ i.first_name }}</td>
                            <td>{{ i.mobile }}</td>
                            <td><a href="{% url 'customer' i.id %}" class="b btn btn-danger">View</a></td>
                            </tr>
                            {% endfor %}

                        {% else %}
                        <h1>No Customers</h1>
                        {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <div class="offset-md-1 col-md-6">


        <div class="card">
            <div class="card-header text-center bg-primary text-white">
                <h2>Orders</h2>
            </div>
            <div class="card-body">
                <table class="table table-bordered text-center">
                    <thead class="text-white bg-secondary">
                    <tr>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Order By</th>
                        <th>Order Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if all_orders %}
                    {% for i in all_orders %}
                        <tr>
                       <td> <b>{{ i.product.name }}</b></td>
                        <td>{{ i.product.price }}</td>
                        <td>{{ i.customer.first_name|capfirst }}</td>
                        <td>{{ i.created_date }}</td>
                        <td><b>{{ i.status }}</b></td>
                        <td>
                            <a href="{% url "update_order" i.id %}" class="u btn btn-success">Update</a>


                        </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                    <h1> No Orders</h1>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </div>
    </div>
    </div>
{% endblock %}
</html>