{% extends 'accounts/base.html' %}
<html>
<head>
    <title> Update Order</title>
</head>
<body>
{% block content %}
    <div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <form method="POST">
                {% csrf_token %}
                <label> Status:</label>
                <select value="{{ order.status }}" name="status" class="form-control">
                    <option>Pending</option>
                    <option>Outfor Delivery</option>
                    <option>Delivered</option>
                </select><br>
                <input type="submit" value="Update" class="btn btn-success btn-block">

            </form>
        </div>
    </div>
    </div>


{% endblock %}
</body>

</html>